{%- if HAS_DOC %}
{% for i in range(INDENT_LEVEL) %}  {% endfor -%} {# --------------- add indent        -#}
/*! {{DOC}} */
{%- endif %}
{# ------------------------------------------------------------------ add data type and name -#}
{%- for i in range(INDENT_LEVEL) %}  {% endfor -%} {# --------------- add indent        -#}
{{TYPE}} _{{NAME}}
{%- if IS_ARRAY -%} [{{SIZE}}] {%- endif %}; {# --------------------- if is fixed-size array, add [SIZE] #}
