{% if HAS_DOC %}{% for i in range(INDENT_LEVEL) %}  {% endfor %}/*! {{DOC}} */
{% endif %}{% for i in range(INDENT_LEVEL) %}  {% endfor %}{{TYPE}} _{{NAME}}{%if IS_ARRAY%}[{{SIZE}}]{%endif%};
{# deliberate empty line #}
