{# ------------------- HEADER OF THE HEADER. INCLUDES, LICENSE, ETC ------------------- #}
#ifndef SWIFT_HYDRO_PART_TEST_H
#define SWIFT_HYDRO_PART_TEST_H

#include <float.h>
#include <limits.h>
#include <stddef.h>

#include "hydro_part_arrays_struct.h"

/* workaround for unit tests to produce compilable headers */
#define INLINE inline
#define DEBUG
typedef unsigned long long integertime_t;
typedef char timebin_t;

struct my_struct{};
struct gpart{
  double x[3];
  float m;
};



{# --------------------------------- GENERATE STUCTS -------------------------------- #}
{% for STRUCT_NAME in STRUCT_NAMES %}
struct {{STRUCT_NAME}} {

{% for DECL in STRUCT_CONTENTS[STRUCT_NAME]["DECLARATIONS"] -%}
    {{DECL}}
{%- endfor -%}
};
{% endfor -%}
{# ------------------------- GENERATE GETTERS AND SETTERS  -------------------------- #}
{%- for STRUCT_NAME in STRUCT_NAMES -%}
{%- for API in STRUCT_CONTENTS[STRUCT_NAME]["API"] %}
{{API}}
{% endfor -%}
{% endfor %}
#endif /* SWIFT_HYDRO_PART_TEST_H */
